body {
  width: auto;
  height: auto;
}

.color-pallete {
  display: grid;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
