body {
  width: auto;
  height: auto;
}

.color-pallete {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.red {
  background-color: red;
  padding: 20px;
}

.orange {
  background-color: orange;
  padding: 20px;
}

.black {
  background-color: black;
  padding: 20px;
}

.blue {
  background-color: blue;
  padding: 20px;
}
